{
  "BatonOktaConnector":
  {
    "BatonLambdaConfigurationHost": "example.com",
    "BatonLambdaTokenHost": "example.com",
    "BatonLambdaClientId": "<client_id>",
    "BatonLambdaClientSecret": "<client_secret>",
  }
}
