name: ci
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      BATON_LOG_LEVEL: debug
      # Add any environment variables needed to run baton-okta
      BATON_API_TOKEN: ${{ secrets.BATON_API_TOKEN }}
      BATON_DOMAIN: ${{ secrets.BATON_DOMAIN }}
      BATON_SYNC_CUSTOM_ROLES: true
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.x
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build baton-okta
        run: go build ./cmd/baton-okta
      - name: Test grant/revoke
        uses: ConductorOne/github-workflows/actions/sync-test@v2
        with:
          connector: ./baton-okta
          baton-entitlement: app:0oaf4rf37pg7W4B6a5d7:access
          baton-principal: 00uacdfcbiu3Igbmz5d7
          baton-principal-type: user
      - name: Test grant/revoke with custom role
        uses: ConductorOne/github-workflows/actions/sync-test@v2
        with:
          connector: ./baton-okta
          baton-entitlement: resourceset-binding:iamkg0dn9dH05taAc5d7:cr0kg059ztsV0pNMh5d7:member
          baton-principal: 00uacdfcbiu3Igbmz5d7
          baton-principal-type: user
